<div class="tweet-text row">
    <div class="col-md-1 avatar"><img src="<%= user.profile_image_url %>"/></div>
    <div class="bulk col-md-11">
        <span class="name"><%= user.name %><span>
        <span class="screen-name"><a href="http://www.twitter.com/<%= user.screen_name %>">@<%= user.screen_name %></a><span>
        <span class="date"><%= moment(created_at).fromNow() %></span>
        <p><%= text %></p>
        <p>timestamp = <%= created_at %>, retweets = <%= retweet_count %>, favs = <%= favorite_count %></p>
    </div>
</div>